<a href="https://colab.research.google.com/github/Geek-a-Byte/ML-sessional/blob/main/lab1/week1_pandas.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# ! -> command line prompt
# library - pandas

! pip install pandas

In [ ]:
from zipfile import ZipFile

# creating an object of zipfile class
zipFileObject = ZipFile('/content/drive/MyDrive/CSE 442/archive.zip')
zipFileObject.extractall('/tmp/dataset/')

In [ ]:
import pandas as pd

# dataframe ekta dataset ke encapsulate kore, jemon ekta zipfile ekta zip ke extract kore

dataframe = pd.read_csv('/tmp/dataset/WineQT.csv');
dataframe

# viewing the dataset from different angles

In [ ]:
type(dataframe.head(5))

pandas.core.frame.DataFrame

In [ ]:
dataframe.tail(10)

In [ ]:
dataframe.columns

In [ ]:
dataframe[['fixed acidity', 'volatile acidity']][1140:1143] # age cols then rows

In [ ]:
dataframe.iloc[1140:1143,1:5] # age rows, then cols

In [ ]:
#iteration

for index,row in dataframe.iteritems():
  print(f'index={index}')
  print(f'row={row}')

In [ ]:
dataframe.loc[(dataframe['fixed acidity']>5.0) & (dataframe['citric acid']<0.12)][['fixed acidity', 'volatile acidity']][1:101]

In [ ]:
dataframe.drop(columns=['Id'])

In [ ]:
dataframe['total acidity']=dataframe['fixed acidity']+dataframe['volatile acidity']
dataframe.head(5)

In [ ]:
dataframe.loc[(dataframe['fixed acidity']==7.4) & (dataframe['volatile acidity']==0.70),['quality','sulphates']]=[10,1]

In [ ]:
import numpy as np
dictionary={
    "c1":[1,np.nan,3,4,5],
    "c2":[1,2,np.nan,4,5],
    "c3":[np.nan,2,3,4,5],
}

dataframe=pd.DataFrame(dictionary)
dataframe

    c1   c2   c3
0  1.0  1.0  NaN
1  NaN  2.0  2.0
2  3.0  NaN  3.0
3  4.0  4.0  4.0
4  5.0  5.0  5.0

In [ ]:
dataframe['c1']=dataframe['c1'].fillna(dataframe['c1'].mean())
dataframe

     c1   c2   c3
0  1.00  1.0  NaN
1  3.25  2.0  2.0
2  3.00  NaN  3.0
3  4.00  4.0  4.0
4  5.00  5.0  5.0

In [ ]:
# chi square-> ekta feature col, ekta target col then will determine je feature er shathe target er bhalo relation ache kina.
# score joto beshi, shei feature toto beshi relevant.