<a href="https://colab.research.google.com/github/Geek-a-Byte/ML-sessional/blob/main/lab4/eval.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd

# dataframe ekta dataset ke encapsulate kore, jemon ekta zipfile ekta zip ke extract kore

df = pd.read_csv('/content/diabetes.csv');
df

In [6]:
X = df.iloc[:,:-1] # independent features
y = df.iloc[:,-1] # dependent features

In [7]:
X

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32
3,1,89,66,23,94,28.1,0.167,21
4,0,137,40,35,168,43.1,2.288,33
...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63
764,2,122,70,27,0,36.8,0.340,27
765,5,121,72,23,112,26.2,0.245,30
766,1,126,60,0,0,30.1,0.349,47
767,1,93,70,31,0,30.4,0.315,23

In [8]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

In [9]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X,y, stratify=y,random_state=42)

In [15]:
from sklearn.tree import DecisionTreeClassifier
DT1 = DecisionTreeClassifier()
DT1.fit(X_train, y_train)
DT1.predict(X_test)
print(DT1.score(X_test,y_test))

DT2 = DecisionTreeClassifier()
DT2.fit(X_train, y_train)
DT2.predict(X_test)
print(DT2.score(X_test,y_test))

DT3 = DecisionTreeClassifier()
DT3.fit(X_train, y_train)
DT3.predict(X_test)
print(DT3.score(X_test,y_test))

0.7135416666666666
0.7083333333333334
0.7239583333333334

In [17]:
from sklearn.ensemble import VotingClassifier
estimators =  [('dt1',DT1),('dt2', DT2) , ('dt3', DT3)]

ensemble_dt = VotingClassifier(estimators, voting="hard")

In [18]:
ensemble_dt.fit(X_train,y_train)
ensemble_dt.predict(X_test)
ensemble_dt.score(X_test,y_test)

0.7395833333333334

In [19]:
from sklearn.linear_model import LogisticRegression
logit1 = LogisticRegression()
logit1.fit(X_train, y_train)
logit1.predict(X_test)
print(logit1.score(X_test,y_test))

logit2 = LogisticRegression()
logit2.fit(X_train, y_train)
logit2.predict(X_test)
print(logit2.score(X_test,y_test))

logit3 = LogisticRegression()
logit3.fit(X_train, y_train)
logit3.predict(X_test)
print(logit3.score(X_test,y_test))

0.7291666666666666
0.7291666666666666
0.7291666666666666

In [20]:
from sklearn.ensemble import VotingClassifier
estimators_logit =  [('logit1',logit1),('logit2', logit2) , ('logit3', logit3)]

ensemble_logit = VotingClassifier(estimators_logit, voting="hard")

In [21]:
ensemble_logit.fit(X_train,y_train)
ensemble_logit.predict(X_test)
ensemble_logit.score(X_test,y_test)

0.7291666666666666

# comparison between dt and logit

In [22]:
print(ensemble_dt.score(X_test,y_test))
print(ensemble_logit.score(X_test,y_test))

0.7395833333333334
0.7291666666666666