<a href="https://colab.research.google.com/github/Geek-a-Byte/ML-sessional/blob/main/lab3/week4_polynomial_regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##### LOAD DATASET

In [54]:
# pr -> degree-2 -> error -> overfitting -> regularization (lasso, ridge)
import pandas as pd
from sklearn.linear_model import LinearRegression
import numpy as np
from zipfile import ZipFile

# creating an object of zipfile class
zipFileObject = ZipFile('/content/drive/MyDrive/CSE 442/dhaka_home_price.zip')
zipFileObject.extractall('/tmp/dataset/')

# dataframe ekta dataset ke encapsulate kore, jemon ekta zipfile ekta zip ke extract kore
df = pd.read_csv('/tmp/dataset/Dhaka_homeprices_dataset.csv');
df

   area   price
0  2600   55000
1  3000   56500
2  3200   61000
3  3600   68000
4  4000   72000
5  5000   71000
6  2500   40000
7  2700   38000
8  1200   17000
9  5000  100000

##### CHECK FOR NULL VALUE IN THE DATASET

In [42]:
df.isnull().sum()

area     0
price    0
dtype: int64

##### DEFINE FEATURE AND TARGET

In [55]:
X=df['area']
y=df['price']

Train Test Split

In [56]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=None)

##### POLYNOMIAL REGRESSION

In [57]:
from sklearn.preprocessing import PolynomialFeatures

In [58]:
poly = PolynomialFeatures(degree=2, include_bias=False)

In [59]:
poly_features = poly.fit_transform(X_train.values.reshape(-1,1))

In [62]:
poly_features

array([[3.200e+03, 1.024e+07],
       [5.000e+03, 2.500e+07],
       [2.700e+03, 7.290e+06],
       [2.500e+03, 6.250e+06],
       [1.200e+03, 1.440e+06],
       [5.000e+03, 2.500e+07],
       [3.600e+03, 1.296e+07],
       [2.600e+03, 6.760e+06]])

In [60]:
poly_regressor = LinearRegression()

In [61]:
poly_regressor.fit(poly_features,y_train)

LinearRegression()

In [63]:
poly_features_test = poly.fit_transform(X_test.values.reshape(-1,1))

In [64]:
y_pred=poly_regressor.predict(poly_features_test)
y_pred

array([71530.79959005, 54174.48058589])

Error calculation

In [65]:
from sklearn.metrics import mean_absolute_error, mean_squared_error
mae = mean_absolute_error(y_test,y_pred)
mse = mean_squared_error(y_test,y_pred)
rmse= np.sqrt(mse)
print(f'Mean absolute error: {mae:.2f}')
print(f'Mean squared error: {mse:.2f}')
print(f'rmse:{rmse: .2f}')

Mean absolute error: 1397.36
Mean squared error: 2814094.79
rmse: 1677.53